<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.CosMapper">

    <select id="loadCosesByUid" resultType="org.example.model.Cos">
        select cos.* from cos
        inner join client_cos_relation ccr
        on cos.id = ccr.cos_id
        where ccr.client_id = #{clientId}
    </select>

</mapper>